<div class="card flex justify-center w-full">
  <p-stepper [value]="activeStep" class="w-full">
    <p-step-list>
      <p-step [value]="1" [disabled]="true">Mapa</p-step>
      <p-step [value]="2" [disabled]="true">Rutas</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1" >
        <ng-template #content let-activateCallback="activateCallback">
          <div class="p-4">
            <div class="mb-4">
              <input
                type="text"
                pInputText
                [(ngModel)]="direccion"
                placeholder="Buscar dirección"
                class="w-full"
              />
              <button
                pButton
                label="Buscar"
                (click)="buscarDireccion()"
                class="mt-2"
              ></button>
            </div>
            <div id="map" style="height: 400px"></div>
            <div class="mt-4">
              <button
                pButton
                label="Confirmar dirección"
                (click)="confirmarDireccion()"
              ></button>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div *ngFor="let route of routeOptions">
              <p-card [header]="route.name">
                <ng-template pTemplate="header">
                  <div class="flex justify-center mt-3">
                    <i [ngClass]="route.icon" style="font-size: 2.0rem"></i>
                  </div>
                </ng-template>
                <p>Duración: {{ route.duration }}</p>
                <p>Distancia: {{ route.distance }}</p>
                <p>Descripción: {{ route.description }}</p>
                <p>Peaje: {{ route.toll ? 'Sí' : 'No' }}</p>
                <p>Tráfico: {{ route.traffic }}</p>
                <ng-template pTemplate="footer">
                  <div [style]="{ 'background-color': getBackgroundColor(route.color) }" style="height: 10px;"></div>
                </ng-template>
              </p-card>
            </div>
          </div>

        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
