/* You can add global styles to this file, and also import other style files */
@import './tailwind.css';
@import './assets/layout/layout.scss';
@import 'primeicons/primeicons.css';
@import './app/components/shared/design-system.css';

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

* {
  box-sizing: border-box;
}
